/* Color Palette */
$primary-1 : #8F8888;
$primary-2 : #6B6767;
$primary-3 : #5D2C2C;
$primary-4 : #C7BFBF;
$primary-5 : #C7C1C1;

$secondary-a-1 : #515656;
$secondary-a-2 : #3E4040;
$secondary-a-3 : #1A3838;
$secondary-a-4 : #A4AAAA;
$secondary-a-5 : #A6AAAA;

$secondary-b-1 : #83857F;
$secondary-b-2 : #636460;
$secondary-b-3 : #475729;
$secondary-b-4 : #C0C2BB;
$secondary-b-5 : #C0C2BD;


/* Fonts */
$font : Dosis, sans-serif;