$myColor: #aacc33;
$defWidth: 50%;

body{
    background-color:$myColor;   
}
h1, p{
    color:$myColor;   
}
#mainContent, .bla{ width:$defWidth; }
.bla{ background-color:$myColor }
.blau{ background-color:$myColor }